<html>
<style>
	td {
		padding-right:10px
	}
</style>
	<body>
		<center>
			<h1> Submit a product </h1>
			<br />
			<form action="/product_submission.html" id="product_form" >
				<table>
					<tr>
						<td><span class="input_head">Product name: </span></td> <td><input name="product_name"/></td> 
					</tr>
					<tr>
						<td><span class="input_head">Product manufacturer: </span> </td> <td><input name="product_manufacturer"/></td> 
					</tr>
					<tr>
						<td><span class="input_head">Product ingredients: </span></td> <td><input name="product_ingredients"/></td>
					</tr>
					<tr>
						<td><span class="input_head">Product upc: </span></td> <td><input name="product_upc" /></td> 
					</tr>
				</table>
				<br />
				<button type="submit">Submit product</button>
			</form>
		</center>
	</body>
</html>
